<p style="color: green"><%= notice %></p>

<%= render @cfcpost %>

<div class="bg-light m-1 p-1 text-dark bg-opacity-75">

<%# <% Cfcpost::Kinds.each do |kind| %> 
<%# <%= button_to "#{Cfcpost::KindsSpanish[kind]}", new_cfcuser_cfcreaction_path(cfcpost_id: @cfcpost.id, kind: kind), method: :post %> 

 <%= render 'cfcreactions/options' %>

<%# <% end %> 

</div>

<% if @cfcpost.cfcuser == current_cfcuser  %> 
<div class="dropdown mt-3">
  <a class="btn btn-danger dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Opciones
  </a>
  <ul class="dropdown-menu">
      <li><%= button_to "Eliminar esta publicación", @cfcpost, method: :delete %></li>
    <li><%= link_to "Editar esta publicación", edit_cfcpost_path(@cfcpost), class:"dropdown-item"%></li>
    <li><%= link_to "Volver a Publicaciones", cfcposts_path, class:"dropdown-item"%></li>
  </ul>
</div>
 <% end %> 
<div>
<%= render 'cfccomments/cfccomments' %>
</div>
